*

	margin: 0
	padding: 0

body

	font: 13px 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif

	> img

		display: block
		margin: 0 auto
		width: 200px

	.container

		margin: 0 auto
		width: 760px

		.intro

			float: left
			width: 500px

			h1

				margin-bottom: 5px

		.users

			float: right
			width: 240px

			border: 1px #ccc solid

			border-radius: 4px

			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1)

			div

				border-top: 1px #ddd solid
				padding: 10px
				line-height: 50px

				img

					float: left
					margin-right: 10px

				&:first-child

					border-top: none

				&.no-players

					line-height: 16px