extends layout

block content

	.splash

		.intro

			h1 Welcome to the Finger Olympics!
			p.players We're waiting for 2 more players right now. Scan the QR code to get going.

			img(src=qr)

		.users

			.no-players There's currently nobody playing.

	.game

		