!!!
html
	
	head

		meta(charset='utf-8')

		title Finger Olympics - 100m

		!= css('web')

	body

		img(src='/img/logo.jpg')

		.container

			block content

		script(src='/nowjs/now.js')
		!= js('jquery')
		!= js('web')
